$colorMainMedium: #675b7d;
$colorMainDark: #352c47;
$colorText: #444;
$colorBlack: #111;
$colorSecondary: #779386;
$colorLight: #fffee6;
$colorWhite: #fff;

$color__background-body: $colorWhite;

$color__text-main: $colorText;
$color__text-light: $colorLight;
$color__text-button: $colorWhite;

$color__link: $colorMainMedium;
$color__link-visited: $colorMainMedium;
$color__link-hover: $colorMainDark;

$color__menu-link: $colorBlack;
$color__menu-link-hover: $colorMainMedium;
$color__menu-link-focus: $colorMainMedium;

$color__background-button: $colorMainMedium;
$color__background-button-hover: $colorMainDark;
$color__border-button: $colorMainDark;
$color__border-button-hover: $colorMainMedium;
$color__border-button-focus: $colorMainMedium;

$color__background-footer: $colorSecondary;

// * Quotes: 61% #779386 */
