$colorMainMedium: #675b7d;
$colorMainDark: #352c47;
$colorBlack: #111;
$colorSecondary: #748daa;
$colorLight: #fffee6;
$colorWhite: #fff;

$color__background-body: $colorWhite;
$color__background-screen: $colorWhite;
$color__background-hr: $colorWhite;
$color__background-button: $colorMainMedium;
$color__background-button-hover: $colorMainDark;
$color__background-pre: $colorWhite;
$color__background-ins: $colorWhite;

$color__text-screen: $colorBlack;
$color__text-input: $colorBlack;
$color__text-input-focus: $colorBlack;
$color__link: $colorMainMedium;
$color__link-visited: $colorMainMedium;
$color__link-hover: $colorMainDark;
$color__text-main: $colorBlack;

$color__border-button: $colorMainDark;
$color__border-button-hover: $colorMainMedium;
$color__border-button-focus: $colorMainMedium;

